@import "~bootstrap";
@import "~swiper/css/swiper.css";
// @import "./skewed";
//@import "./slider";

@import "fonts";
@import "variables";

body {
  font-family: $mada, sans-serif;
  background-color: $blue;
  color: white;
}

section {
  min-height: 100vh;
}

h1 {
  color: $blue;
  letter-spacing: 2.4px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 3px;
}

p {
  line-height: 1.35;
}

.logo-landing {
  background-color: $blue;
}

.logo-fullpage {
  margin: auto;
  width: 50%;
}

.swiper-container.swiper-container-descriptions {
  height: 100vh;

  p {
    font-size: 1.45rem;
    padding-bottom: 2rem;
  }

  & .swiper-container {
    height: calc(100vh - 50px);
  }

  .swiper-slide {
    height: unset;

    img {
      max-width: 100%;
    }

    .h1, p {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .description-img {
    width: 100vw;
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .description-chiara {
    background-image: url('../assets/images/Chiara_description_p_2x.jpg');
  }

  .description-filippo {
    background-image: url('../assets/images/Filippo_description_p_2x.jpg');
  }

  .description-together {
    background-image: url('../assets/images/Insieme_p_2x.jpg');
  }

  .description-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $blue;
  }
}

.swiper-pagination {
  .swiper-pagination-bullets {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: solid 1px white;
    background-color: $blue;
  }

  .swiper-pagination-bullet-active {
    background-color: white;
  }

  .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullet-active-next {
    background-color: white;
    opacity: 0.9;
  }

  .swiper-pagination-bullet-active-prev-prev,
  .swiper-pagination-bullet-active-next-next {
    background-color: white;
    opacity: 0.75;
  }
}

.quotes {
  p {
    letter-spacing: 4px;
    font-size: 1.45rem;

    &:first-child {
      text-transform: uppercase;
    }
  }
}

.madonna-corona {
  background-image: url("../assets/images/quotes_p.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fade-in {
  animation: fadein 1s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(50px); }
  to   { opacity: 1; transform: translateY(0); }
}

.border-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  & [class*="border-"] {
    background-color: #fff;
    height: 102%;
    position: absolute;
    width: 45vw;
    will-change: transform;
  }

  .border-right {
    right: 0;
    transform-origin: 100% 0;
  }

  .border-left {
    left: 0;
    transform-origin: 0 0;
  }
}

.celebration,
.motivational,
.wedding-list {
  b {
    font-weight: 500;
  }

  strong {
    font-weight: 700;
  }

  h1, .h1 {
    padding: 4rem 0;
  }
}

// Celebration

.celebration {
  background-color: $gray-10;

  p {
    font-size: 1.45rem;
  }

  .chiara-and-filippo {
    padding: 6rem 2rem;
  }

  .celebration-logo {
    max-width: 70vw;
    padding: 5rem 0;
  }

  .hero-cerimonia {
    position: relative;
    overflow: hidden;

    .border-left, .border-right {
      background-color: $gray-10;
    }
  }

  .eremitani-img {
    background-image: url("../assets/images/Padova_Chiesa_degli_Eremitani_Innen_Langhaus_Ost_1_2x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(3);
    will-change: transform;
    height: 33vh;
  }

  #save-the-date, .save-the-date {
    padding: 3rem 0;
    text-align: center;
    font-size: 2rem;
    line-height: 2;
  }

  #countdown-container {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.4px;
    background-color: $blue;
    padding: 4rem 0;
  }
}

// Party

.swiper-container.party {
  height: 50vh;

  .swiper-slide-party {
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    &.party-slide-1 {
      background-image: url('../assets/images/party/1.jpg');
    }
    &.party-slide-2 {
      background-image: url('../assets/images/party/2.jpg');
    }
    &.party-slide-3 {
      background-image: url('../assets/images/party/3.jpg');
    }
    &.party-slide-4 {
      background-image: url('../assets/images/party/4.jpg');
    }
    &.party-slide-5 {
      background-image: url('../assets/images/party/5.jpg');
    }
    &.party-slide-6 {
      background-image: url('../assets/images/party/6.jpg');
    }
    &.party-slide-7 {
      background-image: url('../assets/images/party/7.jpg');
    }
    &.party-slide-8 {
      background-image: url('../assets/images/party/8.jpg');
    }
    &.party-slide-9 {
      background-image: url('../assets/images/party/9.jpg');
    }
    &.party-slide-10 {
      background-image: url('../assets/images/party/10.jpg');
    }

  }
}

// Wedding List

.wedding-list {
  p {
    font-size: 1.35rem;
  }

  .swiper-container {
    width: 100%;
    height: 550px;

    .swiper-slide-item .card {
      height: 500px;
      margin: 0 10vw;
      border: none;
    }

    .wedding-list-item-image {
      position: relative;
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        object-fit: contain;
        height: 300px;
        padding: 0.5rem 1.25rem;
      }
    }

    .wedding-list-item-price {
      color: $blue;
      display: flex;
      flex-direction: column;

      p {
        margin: 0.5rem 0;
      }

      .btn-primary {
        background-color: $blue;
        border-color: $blue;
        border-radius: 0;
      }
    }

    .wedding-list-item-title {
      background-color: $blue;
      color: white;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.25rem;

      h6 {
        font-size: 1.4rem;
        letter-spacing: 3px;
        font-weight: 700;
        margin: 0;
      }

      &.wedding-list-item-completed {
        background-color: $gray-10;
      }
    }
  }
}

.honey-moon {
  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.35rem;
  }
}

// Final Section

.final-section {
  min-height: unset;
  height: 100vh;
  background-image: url("../assets/images/foto_finale_p_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    position: relative;
    height: 100%;

    .bg {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: $blue;
      will-change: opacity;
    }

    .phrase {
      opacity: 0;
      font-size: 1.35rem;
      line-height: 4px;
      color: white;
      font-weight: 500;
      padding-top: 60vh;
    }
  }
}
