@import "~bootstrap";
@import "~swiper/css/swiper.css";
// @import "./skewed";
//@import "./slider";

@import "fonts";
@import "imageComparison";
@import "variables";
@import "rsvpForm";

body {
  font-family: $mada, sans-serif;
  background-color: $blue;
  color: white;
}

section {
  min-height: 100vh;
}

h1 {
  color: $blue;
  letter-spacing: 2.4px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 3px;
}

h3 {
  font-size: 1.35rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  line-height: 1.35;
}

.sticky-container {
  height: 275vh;
  margin-top: -100vh;

  .sticky-content {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .section-content {
    padding-top: 40vh;
  }
}

.logo-landing {
  background-color: $blue;
}

.logo-fullpage {
  margin: auto;
  width: 50%;
}

.logo-name {
  padding: 2rem 0;
}

.swiper-container.swiper-container-descriptions {
  height: 100vh;

  p {
    font-size: 1.45rem;
    padding-bottom: 2rem;
    margin: 0;
  }

  & .swiper-container {
    height: calc(100vh - 50px);
  }

  .swiper-slide {
    height: unset;

    img {
      max-width: 70%;
    }
  }

  .sticky-container {
    height: 420vh;

    .sticky-content {
      z-index: -1;
    }
  }

  .description-img {
    width: 100vw;
    height: calc(100% - 50px);
    background-repeat: no-repeat;
    background-size: cover;

    &.description-chiara-img {
      background-image: url('../assets/images/Chiara_description_p_2x.jpg');
      opacity: 1;
    }

    &.description-filippo-img {
      background-image: url('../assets/images/Filippo_description_p_2x.jpg');
      opacity: 1;
    }

    &.description-together {
      background-image: url('../assets/images/Insieme_p_2x.jpg');
    }
  }

  .description-chiara-content,
  .description-filippo-content {
    background: linear-gradient(to bottom, $blue 25%, $blue 75%, transparent);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $blue;
  }
}

.swiper-pagination {
  .swiper-pagination-bullets {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: solid 1px white;
    background-color: $blue;
  }

  .swiper-pagination-bullet-active {
    background-color: white;
  }

  .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullet-active-next {
    background-color: white;
    opacity: 0.9;
  }

  .swiper-pagination-bullet-active-prev-prev,
  .swiper-pagination-bullet-active-next-next {
    background-color: white;
    opacity: 0.75;
  }
}

.quotes {
  min-height: unset;
  height: 275vh;

  .section-content {
    p {
      letter-spacing: 4px;
      font-size: 1.45rem;

      &:first-child {
        text-transform: uppercase;
      }
    }
  }

  .madonna-corona {
    background-image: url("../assets/images/quotes_p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
    will-change: opacity;
  }
}
//
//.fade-in {
//  animation: fadein 1s cubic-bezier(0.4, 0, 1, 1);
//}
//
//@keyframes fadein {
//  from { opacity: 0; transform: translateY(50px); }
//  to   { opacity: 1; transform: translateY(0); }
//}

.border-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  & [class*="border-"] {
    background-color: #fff;
    height: 102%;
    position: absolute;
    width: 45vw;
    will-change: transform;
  }

  .border-right {
    right: 0;
    transform-origin: 100% 0;
  }

  .border-left {
    left: 0;
    transform-origin: 0 0;
  }
}

.celebration,
.motivational,
.wedding-list {
  b {
    font-weight: 500;
  }

  strong {
    font-weight: 700;
  }

  h1, .h1 {
    padding: 4rem 0;
  }
}

// Celebration

.celebration {
  min-height: unset;
  background-color: $gray-10;

  p {
    font-size: 1.55rem;
    line-height: 1.35;

    &.name {
      font-size: 1.55rem;
      line-height: 1.35;
      letter-spacing: 3px;
    }

    &.ampersand {
      font-family: $zapfinoExtraLTPro, sans-serif;
      font-size: 3rem;
    }
  }

  .chiara-and-filippo {
    padding: 6rem 2rem;
  }

  .celebration-logo {
    max-width: 70vw;
    padding: 5rem 0;
  }

  .hero-cerimonia {
    position: relative;
    overflow: hidden;
    background-color: $blue;

    .border-left, .border-right {
      background-color: $gray-10;
    }

    .eremitani-img {
      background-image: url("../assets/images/foto_eremitani_4k.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: scale(3);
      will-change: transform;
      height: 65vh;

      @media screen and (min-width: 450px) {
        height: 70vh;
      }

      @media screen and (min-width: 500px) {
        height: 75vh;
      }
    }
  }

  #save-the-date, .save-the-date p {
    padding: 3rem 0;
    text-align: center;
    font-size: 2rem;
    line-height: 2;
  }
}

#countdown-container {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.4px;
  background-color: $blue;

  .date-naming {
    font-weight: 300;
    font-size: 1.1rem;
  }
}

// Party

.party {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);

  p {
    font-size: 1.35rem;
  }

  .video-container {
    position: absolute;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      //width: auto;
      //height: auto;
      z-index: -1;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
    }
  }
}

// Wedding List

.wedding-list {
  min-height: unset;
  padding: 5rem 0;

  p {
    font-size: 1.35rem;
  }

  .swiper-container {
    width: 100%;
    height: 550px;

    .swiper-slide-item .card {
      height: 500px;
      margin: 0 10vw;
      border: none;

      .card-body {
        padding-top: 0;
      }
    }

    .wedding-list-item-image {
      position: relative;
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        object-fit: scale-down;
        height: 300px;
        padding: 0.5rem 1.25rem;
      }
    }

    .wedding-list-item-price {
      color: $blue;
      display: flex;
      flex-direction: column;

      p {
        font-size: 1.4rem;
        margin: 0.5rem 0;
      }
    }

    .wedding-list-item-title {
      background-color: white;
      color: $blue;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.25rem;
      border: #20244d solid 2px;

      h6 {
        font-size: 1.4rem;
        letter-spacing: 3px;
        font-weight: 700;
        margin: 0;
      }

      &.wedding-list-item-completed {
        //background-color: $gray-10;
        background-color: white;
        border: none;
        color: $blue;
        height: auto;
        padding: 0.25rem;
      }
    }

    .wedding-list-item-description {
      font-weight: 300;
      color: $blue;
      text-align: center;
      margin: 1rem 0;
    }
  }
}

.wedding-list-modal {
  color: $blue;

  .item-name {
    background-color: $blue;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 3px;
  }

  .item-img {
    height: 300px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    img {
      object-fit: scale-down;
      width: 100%;
    }
  }

  .item-price {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  .contact-information {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.75;
  }
}

// Honey moon

.honey-moon {
  min-height: unset;
  padding: 5rem 0;

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.35rem;
  }
}

// RSVP

#rsvpForm {
  font-size: 1.35rem;

  .form-group {

  }

  input[type='text'],
  textarea {
    border: solid white 2px;
    border-radius: 0;
    background: transparent;
    color: white;
    font-size: 1.35rem;

    &::placeholder {
      color: white;
    }
  }

  textarea {
    font-style: italic;
  }

  button[type='submit'] {
    border-radius: 0;
    font-size: 1.35rem;
    border: solid white 2px;
    background-color: $blue;

    &:hover {
      color: $blue;
      background-color: white;
    }
  }
}

// Final Section

.final-section {
  min-height: unset;
  height: 100vh;
  background-image: url("../assets/images/foto_finale_p_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    position: relative;
    height: 100%;

    .bg {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: $blue;
      will-change: opacity;
    }

    .phrase {
      opacity: 0;
      font-size: 1.35rem;
      line-height: 4px;
      color: white;
      font-weight: 500;
      padding-top: 60vh;
    }
  }
}
